.cart h2{
	color: blue;
	font-size: 1.2em;
	font-weight: 400;
	text-transform: uppercase;
}
table {
	border-collapse:collapse;
	font-size: 1em;
	margin-top: 20px;
	width: 100%;
	text-align: center;
	font-size: 0.9em;
	overflow: scroll;
}
th,td{
	border: 1px solid lightgray;
	padding: 10px;
}
td span{
	font-size: 1em;
	font-weight: 400;
	color: gray;
}
td a{
	text-decoration: none!important;
	color: #666;
	font-weight: 600;
}
td a i{
	color: #c00;
	font-size: 1.2em;
	transform: 0.4s
}
td a i:hover{
	color: #666;
}
td a img{
	width: 80px;
	height: 100px;
	transition: 0.5s;
}
td a img:hover{
	transform: scale(1.1);
}
td input.quantityProduct{
	height: 40px;
	width: 55px;
	background-color: #F0F0F0;
	border: 1px solid black;
	padding: 10px;
}
.btnCart{
	text-transform: uppercase;
	background: linear-gradient(to top, #5d6dc3, #3c86d8);
	transition: 0.5s;
	font-size: 0.9em;
}
.btnCart:hover{
	background: #c00;
}
#labelTotal{
	font-size: 1.3em;
	font-weight: 700;
	margin-right: 40px;
	display: inline-block;
}
#priceTotal{
	font-size: 1.5em;
	color: #c00;
	font-weight: 600;
}

